*{
    all: unset; /*Fjerne all user agent stylesheet*/
    display: revert; /*Den aktiverer display funktionen i user agent stylesheet*/
    box-sizing: border-box; /*Bredde på et element er inklusiv padding og border*/
}

/*main section m. baggrundsbillede*/

h1{
    font-size: 3.5rem;
    font-weight: 525;
}

h3{
    font-size: 1.625rem;
    font-weight: 525;
}


html{
    background: url(images/cat.jpg) no-repeat center center fixed;
    background-size: cover;
}

body{
    height: 100vh;
    overflow: hidden;
}

/*---------------Navigation Section---------------*/
.nav {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 4rem;
	min-height: 8vh;
	background-color: rgba(19, 15, 15, 0.65);
	transition: 0.3s ease background-color;
}

a {
    color: white;
    text-decoration: none;
}

.font{
    font-family: Arial, Helvetica, sans-serif;
}

.cta {
    color: black;
    text-decoration: none;
    background-color: white;
    margin-right: 20px;
    margin-left: 20px;
    border: none;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
} 

.cta:hover {
    color: gray;
}

.nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding: 0 10px;
}

nav.nav-list {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.brand{
	display: flex;
	height: 125px;
}

.search input {
    align-items: center;
    float: center;
    width: 48rem;
    border: 0;
    box-sizing: border-box;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
    background-color: white;
}

/*---------------Main Section---------------*/

.main-container{
    height: calc(100vh - 3.2rem);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    max-width: 700px;
    margin: 0 auto;
}

.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middel-text-container{
    justify-content: center;
    text-align: center;
    height: 18.5rem;
    flex: 1;
}

.text-padding{
    padding: 1rem 0;
}

.free-button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 4rem;
    width: 12.5rem;
    color: #000;
    background-color: #FFF;
    padding: 0 1.25rem;
    font-size: 1.5rem;
}

.credit{
    height: 4rem;
    justify-content: center;
}

/*---------------Footer Section---------------*/
.list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem 0rem;
    color: #FFFFFF99;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.2em;
}

ul>div:hover{
    color: white;
}

ul>i:hover{
    color: white;
}

footer{
    background-color: black;
}

.twitter{
    font-size: 1.4rem;
}

.facebook{
    font-size: 1.4rem;
}

.instagram{
    font-size: 1.4rem;
}